{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card">
    <h2 class="text-error">مشکلی پیش آمد</h2>
    <p>برای پیگیری می‌توانید با <a href="https://support.divar.ir/contact" target="_blank">پشتیبانی دیوار</a> تماس
        بگیرید.</p>
</div>
<div
    style="position: sticky;bottom: 0;margin-top: auto;background: #fff;padding: 16px 0;display: flex;gap: 8px;flex-wrap: wrap;">
    <a class="button primary" href="divar://profile">بازگشت به دیوار</a>
</div>


{% endblock %}
